@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1B2A49;   /* azul espacial profundo */
  --color-secondary: #0B3D91; /* azul más vibrante */
  --color-accent: #f59e0b;    /* naranja */
  --color-neutral: #e8ecf5; /* azul muy claro */
}
